{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Accordion - Collapse content</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
</head>
<body>
 
<div id="accordion">
    <div class="items">
        <h3>Aktivitas
            <button class="atas">atas</button>
            <button class="bawah">bawah</button>
        </h3>
        <div>
            <ul>
                <li>Rebahan</li>
                <li>Hades</li>
                <li>Genshin</li>
            </ul>
        </div>
    </div>
  
    <div class="items">
        <h3>Pengalaman organisasi/kepanitiaan
            <button class="atas">atas</button>
            <button class="bawah">bawah</button>
        </h3>
        <div>
            <ul>
                <li>Siwak 2020</li>
                <li>Akadememes PMB</li>
            </ul>
        </div>
    </div>

    <div class="items">
        <h3>prestasi
            <button class="atas">atas</button>
            <button class="bawah">bawah</button>
        </h3>
        <div>
            <ul>
                <li>yes</li>
            </ul>
        </div>
    </div>
    <div class="items">
        <h3>bebas
            <button class="atas">atas</button>
            <button class="bawah">bawah</button>
        </h3>
        <div>
            <ul>
                <li>keqing best girl</li>
            </ul>
        </div>
    </div>
</div>
 
<script src="{% static 'story7/accord.js' %}"></script> 
</body>
</html>
